body {
    color: rgb(191, 159, 222);
    background: rgb(37, 7, 68);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(0, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(68, 8, 111);
}

section {
    background: rgb(29, 4, 55);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}


img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
    opacity: 0.10;
    height: 250px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 5px solid rgb(35, 19, 77);
}

.categoria h2 {
    color: rgb(51, 0, 94);
}